html, body {
    /*height: 100%;*/
    /*width: 100%;*/
}

.App {
  text-align: left;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.App-header {
    /*background-color: #222222ba;*/
    /*width: 100vw;*/

    font-family: Dolce Vita ;
    /*font-style: Quite Regular;*/
    font-weight: bold;

    height: 50px;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
}

.App-title {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid white;*/
}
.Title-item{
    align-items: center;
    text-align: center;
    padding: 10px;
}
.App-menu {
    display: flex;
    justify-content: space-between;
    /*border: 1px solid white;*/
}

.App-menu a:hover {
   font-size: 20px;
   border-bottom: 2px solid white; }

.Menu-item{
    color: white;
    text-decoration: none;
    align-items: center;
    text-align: center;
    margin:15px;
}

body{
    background-image: url("/../../images/flamenco-beach.jpeg");
    height: 100vh;
    background-position-x: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}


.App-intro {
  color: white;
}

.bodySection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    height: 75vh;
}
p {
    color: black;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
