html, body {
    background-image: url("/../../images/flamenco-beach.jpeg");
    height: 100vh;
    background-position-x: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.App {
    text-align: center;
}

.App-header {
    /*background-color: #222222ba;*/
    /*width: 100vw;*/
    font-family: Dolce Vita;
    font-weight: bold;
    height: 50px;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 3px;
    /*border: 1px solid white;*/
}

.App-title {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid white;*/
}

.Title-item {
    align-items: center;
    text-align: center;
    padding: 10px;
    letter-spacing: 5px;
}

.App-menu {
    display: flex;
    justify-content: space-between;
    /*border: 1px solid white;*/
}

.App-menu a:hover {
    font-size: 20px;
    border-bottom: 2px solid white;
}

.Menu-item {
    color: white;
    text-decoration: none;
    align-items: center;
    text-align: center;
    margin: 10px;
}

/*HOME PAGE*/

.HomeBodySection {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.homeTitle {
    margin-top: 1em;
    font-family: Dolce Vita;
    /*font-weight: bolder;*/
    color: black;
    letter-spacing: 8px;
    font-weight: 900;
    font-size: 35px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 375px;
}

.resume {}

@keyframes App-logo-spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

a {
    color: white;
    text-decoration: none;
}

p {
    color: white;
    font-size: 18px;
}

.App-logo1 {
    /*animation: App-logo-spin infinite 10s linear;*/
    height: 22px;
}

/*About Section*/

.SectionHeader {
    font-family: Dolce Vita;
    letter-spacing: 8px;
    color: rgb(100, 172, 188);
    font-size: 20px;
    font-weight:  600;
    padding-top: 5px;
    padding-bottom: 20px;
}

.AboutSection {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: white;
    margin-left: 8em;
    margin-right: 8em;
    /*border: 1px solid black;*/
    height: 475px;
    background-color: black;
    opacity: .63;
}


.galvanizeLogo {
    margin-top: 9em;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-end;
    justify-content:  space-between;
    /*border: 1px solid white;*/
    padding-left: 15px;
    padding-right: 15px
}

.aboutMore {
    font-family: Dolce Vita;
    letter-spacing: 3px;
    color: rgb(100, 172, 188);
    font-size: 14px;
    font-weight:  600;
}


.g46logo {
    height: 45px;
}


.ResumeSection {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.PortfolioSection{
    margin-top: 2em;
    display: flex;
    flex-direction: row;

}

.splash-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: black;
    opacity: .80;
    color: white;
    position: absolute;
    bottom: 0;
    height: 45px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-family: Dolce Vita;
    /*font-style: Quite Regular;*/
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 3px;
}
