html, body {
    /*height: 100%;*/
    /*width: 100%;*/
}

.App {
  text-align: left;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.App-header {
  background-color: #222;
  height: 70px;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-menu {
    display: flex;
    justify-content: space-between;
    /*border: 1px solid white;*/
}

.Menu-item{
    /*border: 1px solid red;*/
    align-items: center;
    text-align: center;
    padding: 5px;
}

body{
    background-image: url("/../../images/flamenco-beach.jpeg");
    background-size: cover;
    display: flex;
    
    /*flex-wrap: nowrap;*/
    flex-direction: column;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
